body {
  /* background-color: #f783e3; */
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 68px;
  color: #fff;
  text-align: center;
}

h2 {
  color: #fff;
  margin: 10px;
  padding-right: 10px;
  text-align: center;
}

p {
  font-size: 10px;
  color: #fff;
}

.App {
  padding: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.backgroundImage {
  object-position: center;
  object-fit: cover;
  position: fixed;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 20px 0;
  width: 1500px;
  z-index: 10;
}

#SR {
  padding-right: 50px;
}

#radio {
  width: 100px;
  height: 100px;
}

.station {
  width: 300px;
  height: 500px;
  margin: 20px;
  padding-bottom: 40px;
  border: 6px solid #fff;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.stationImage img {
  border-radius: 20px;
  width: 100%;
}

.stationTagline {
  padding:10px;
}

.stationAudio {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 10px;
}

@media (max-width: 900px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #SR {
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .station {
    margin: 20px;
  }
}
